code/node_red_flow.json
[
    {
        "id": "d0e1f2g3h4i5j6k7",
        "type": "tab",
        "label": "Passa a Bola IoT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1b2c3d4e5f6g7h8",
        "type": "mqtt in",
        "name": "MQTT Chuteira Eventos",
        "topic": "passabola/chuteira/+/eventos",
        "qos": "0",
        "datatype": "json",
        "broker": "m1n2o3p4q5r6s7t8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 100,
        "wires": [
            ["i9j0k1l2m3n4o5p6", "q7r8s9t0u1v2w3x4"]
        ]
    },
    {
        "id": "i9j0k1l2m3n4o5p6",
        "type": "function",
        "name": "Processar Evento",
        "func": "var event = msg.payload;
var deviceId = event.device_id;
var eventType = event.event_type;

// Inicializa contadores se não existirem
if (!context.get('toques')) {
    context.set('toques', 0);
}
if (!context.get('passes')) {
    context.set('passes', 0);
}

// Incrementa o contador apropriado
if (eventType === 'toque') {
    var currentToques = context.get('toques');
    context.set('toques', currentToques + 1);
} else if (eventType === 'passe') {
    var currentPasses = context.get('passes');
    context.set('passes', currentPasses + 1);
}

// Prepara mensagem para dashboard
msg.payload = {
    toques: context.get('toques'),
    passes: context.get('passes'),
    lastEvent: eventType,
    lastForce: event.force,
    timestamp: event.timestamp
};

return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalise": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            ["y5z6a7b8c9d0e1f2", "g3h4i5j6k7l8m9"]
        ]
    },
    {
        "id": "q7r8s9t0u1v2w3x4",
        "type": "debug",
        "name": "Debug Evento Bruto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "y5z6a7b8c9d0e1f2",
        "type": "ui_text",
        "name": "Total de Toques",
        "group": "n0o1p2q3r4s5t6u7",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "Total de Toques: {{msg.payload.toques}}",
        "layout": "row-spread",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "g3h4i5j6k7l8m9",
        "type": "ui_text",
        "name": "Total de Passes",
        "group": "n0o1p2q3r4s5t6u7",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "Total de Passes: {{msg.payload.passes}}",
        "layout": "row-spread",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "m1n2o3p4q5r6s7t8",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "cleanSession": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "qos": "0",
        "retain": "false",
        "tls": "",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "n0o1p2q3r4s5t6u7",
        "type": "ui_group",
        "name": "Estatísticas da Chuteira",
        "tab": "v8w9x0y1z2a3b4c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "row": false
    },
    {
        "id": "v8w9x0y1z2a3b4c5",
        "type": "ui_tab",
        "name": "Dashboard Passa a Bola",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]

